
stm32\aioc-fw\Middlewares
stm32\aioc-fw\Src\###_usb_descriptors.h
kicad/k1-aioc/.history/
kicad/k1-aioc/k1-aioc-backups/
kicad/k1-aioc/k1-aioc.kicad_prl
plan.txt
stm32/aioc-fw/Src/###_usb_descriptors.h

kicad\k1-aioc\.history
3d
doc
kicad
AIOC_1AJ.code-workspace
kicad/k1-aioc/.history

LICENSE.md